/*clasico*/
.box-img-clasico {
    position: relative;
    flex-direction: column;
}

.clasico-header {
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 47px;

}

.clasico-header p{
    font-family: grand hotel;
}

.clasico-reflejo{
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:600px;
    z-index: -10;
    scale: -1;
    transform: scaleX(-1);
    mask-image: linear-gradient(to bottom, transparent 70%, black 100%);
}

.prueba {
    height: 1000px;
}

/*countdown*/

.countdown-gral{
    margin: 60px 0px 60px 0px;
}

.countdown-group {
    flex-direction: column;
    margin: 5px;
}

.count-circle {
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid white 2px;
}

.countdown-circle {
    height: 66px;
    width: 66px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}


.countdown-group p{
    margin: 0;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 16px;
    color: rgb(77, 77, 77);
}

.countdown-number {
font-family: ubuntu;
  font-size: 23px;
  font-weight: bold;
  color: rgb(68, 68, 68);
}


/*FEASE*/

.clasico-frase{
    flex-direction: column;
    background-image: url("/img/disenos/comillas.png");
    background-size:contain;
    background-repeat:no-repeat;
    height: 300px;
    background-position: center;
    color: rgb(75, 75, 75);
}

.clasico-frase p {
    font-family: grand hotel;
    text-align: center;
    font-size: xx-large;
    width: 80%;
}

.clasico-frase i {
    width: 70%;
    text-align:end;
}

/*SALON*/

.clasico-salon {
    flex-direction: column;
    padding: 40px;
}

.clasico-salon img{
    width: 150px;
    margin: 20px;
}

.clasico-salon p{
    font-family: ubuntu;
    font-size: 20px;
    color: rgb(68, 68, 68);
    text-align: center;
}

.clasico-gps {
    width: 80%;
    text-align: end;
    font-size: 19px;
    font-family: ubuntu;
    color: #4B4B4B;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.clasico-gps img{
    padding: 5px;
    background-color: #d8d8d8;
    border: solid 3px white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Desplazamiento X, Desplazamiento Y, Desenfoque, Color */
    border-radius: 50%;
    width: 63px;
}

/*FOTOS*/

.clasico-fotos {
    background-color: #d8d8d8;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    gap: 10px; /* Ajusta el espacio entre las fotos */
    padding: 10px;

}

.clasico-fotos img {
    width: 100%; /* O ajusta según sea necesario */
}

/*BUZON*/

.clasico-buzon {
    padding: 40px;
}
.box-buzon {
    flex-direction: column;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    text-align: center;
    width: 100%;
    background: linear-gradient(to right top, #ffffff, #d8d8d8);
    /* Desplazamiento X, Desplazamiento Y, Desenfoque, Color */

}
.box-buzon img {
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    width: 80px;
    
}

.box-buzon p{
    font-family: ubuntu;
    font-size: 20px;
    color: rgb(68, 68, 68);}
    
/*hashtag*/

.clasico-hashtag{
    background-image: url(/img/disenos/hashtagfondo.png);
    background-size: cover;
    height: 500px;
    flex-direction: column;
    }

.clasico-hashtag p{
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.hash-text {
    font-size: 58px;
    color: white;
    font-family: Grand hotel;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 6); 
    /* Desplazamiento X, Desplazamiento Y, Desenfoque, Color */
}

@media (min-width: 768px) and (orientation: landscape) {
    .countdown-group {
        margin: 30px;
    }
    .clasico-frase{
        height: 430px;
    }
    .clasico-fotos {
        grid-template-columns: repeat(3, 1fr);    
    }
}