/*clasico*/
.box-img-clasico {
    position: relative;
    flex-direction: column;
}

.clasico-header {
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 47px;
}

.clasico-header p{
    font-family: grand hotel;
}

.clasico-reflejo{
    height: 600px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top:600px;
    z-index: -10;
    scale: -1;
    transform: scaleX(-1);
    mask-image: linear-gradient(to bottom, transparent 70%, black 100%);
}

.prueba {
    height: 1000px;
}

/*countdown*/

.countdown-card {
  display: flex;
  justify-content: space-around;
  width: 85%;
  margin: 40px 0px 40px 0px;
}

.count-circle {
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: solid white 2px;
}

.countdown-circle {
    height: 66px;
    width: 66px;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.countdown-group {
    flex-direction: column;
}

.countdown-group p{
    margin: 0;
    font-family: ubuntu;
    font-weight: bold;
    font-size: 16px;
    color: rgb(77, 77, 77);
}

.countdown-number {
    font-family: ubuntu;
  font-size: 23px;
  font-weight: bold;
  color: rgb(68, 68, 68);
}


/*FEASE*/

.clasico-frase{
    flex-direction: column;
    background-image: url("/img/disenos/comillas.png");
    background-size: cover;
    height: 300px;
    background-position: center;
    color: rgb(68, 68, 68);
    margin-top: 40px;

}

.clasico-frase p {
    font-family: grand hotel;
    text-align: center;
    font-size: xx-large;
    width: 80%;
}

.clasico-frase i {
    width: 70%;
    text-align:end;
}

/*SALON*/

.clasico-salon {
    height: 500px;
    flex-direction: column;
}

.clasico-salon img{
    width: 150px;
    margin: 20px;
}

.clasico-salon p{
    font-family: ubuntu;
    font-size: 20px;
    color: rgb(68, 68, 68);
    width: 80%;
    text-align: center;
}

/*FOTOS*/

.clasico-fotos {
    background-color: #d8d8d8;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de tamaño igual */
    gap: 10px; /* Ajusta el espacio entre las fotos */
    padding: 10px;
}

.clasico-fotos img {
    width: 100%; /* O ajusta según sea necesario */
}

/*BUZON*/
.box-buzon {
    flex-direction: column;
    padding: 20px;
    width: 85%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    margin: 30px;
    /* Desplazamiento X, Desplazamiento Y, Desenfoque, Color */

}
.box-buzon img {
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    width: 80px;
    
}

.box-buzon p{
    font-family: ubuntu;
    font-size: 20px;
    color: rgb(68, 68, 68);}
    
/*hashtag*/

.clasico-hashtag{
    background-image: url(/img/disenos/hashtagfondo.png);
    background-size: cover;
    height: 500px;
    margin: 50px 0px 50px 0px;
    flex-direction: column;
}

.clasico-hashtag p{
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.hash-text {
    font-size: 58px;
    color: white;
    font-family: Grand hotel;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 6); 
    /* Desplazamiento X, Desplazamiento Y, Desenfoque, Color */
}

/*wsp*/

.clasico-wsp {
    flex-direction: column;
    padding: 20px;
    width: 85%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
    margin: 30px;
    /* Desplazamiento X, Desplazamiento Y, Desenfoque, Color */

}
.clasico-wsp img {
    background-color: rgb(77, 77, 77);
    border-radius: 50%;
    width: 80px;
    
}

.clasico-wsp p{
    font-family: ubuntu;
    font-size: 20px;
    color: rgb(68, 68, 68);
    text-align: center;
}