<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/document.ejs') %>
    <body>

        <div class="box-img-clasico d-center">
            <div class="clasico-header" style="background-image: url('/img/disenos/bf3.png');">
                <h6>NOS CASAMOS</h6>
                <p>-Elle & Marco-</p>            
            </div>  
            <div class="clasico-reflejo" style="background-image: url('/img/disenos/bf3.png');">
            </div>
        </div>

        <div class="countdown-gral d-center">
            <div class="countdown-card d-center" id="countdown1">
                <div class="countdown-group d-center">
                    <div class="count-circle">
                        <div class="countdown-circle">
                            <div class="countdown-number" id="months1">0</div>
                        </div>
                    </div>
                    <p>Meses</p>
                </div>
                <div class="countdown-group d-center">
                    <div class="count-circle">
                        <div class="countdown-circle">
                            <div class="countdown-number" id="days1">0</div>
                        </div>
                    </div>
                    <p>Días</p>
                </div>
                <div class="countdown-group d-center">
                    <div class="count-circle">
                        <div class="countdown-circle">
                            <div class="countdown-number" id="hours1">0</div>
                        </div>
                    </div>
                    <p>Horas</p>
                </div>
                <div class="countdown-group d-center">
                    <div class="count-circle">
                        <div class="countdown-circle">
                            <div class="countdown-number" id="minutes1">0</div>
                        </div>
                    </div>
                    <p>Minutos</p>
                </div>
            </div>
        </div>

        <div class="clasico-frase d-center">
            <p>
                El amor no mira con los ojos, <br>
                sino con el alma
            </p>
            <i>Shakespeare</i>
        </div>

        <div class="clasico-salon d-center" style="background: linear-gradient(to bottom, #ffffff, #d8d8d8);">
            <img src="/img/disenos/ceremonia.png" alt="">
            <p><b>CEREMONIA</b></p>
            <p>La ceremonia se realizará en <br>
            "Los Pinos del Campo", <br>
            Los Álamos 459, Catania, Buenos Aires, de 21 hs a 05 hs.
            </p>
            <div class="clasico-gps">
                ¿Cómo llegar?
                <a href=""><img src="/img/disenos/gps.png" alt=""></a>
            </div>
        </div>

        <div class="clasico-fotos">
            <img src="/img/disenos/bf1.png" alt="">
            <img src="/img/disenos/bf2.png" alt="">
            <img src="/img/disenos/bf3.png" alt="">
            <img src="/img/disenos/bf4.png" alt="">
            <img src="/img/disenos/bf5.png" alt="">
            <img src="/img/disenos/bf6.png" alt="">
        </div>

        <div class="clasico-salon d-center" style="background: linear-gradient(to bottom, #d8d8d8, #ffffff);">
            <img src="/img/disenos/fiesta.png" alt="">
            <p><b>FIESTA</b></p>
            <p>Los esperamos para festejar <br>
                en el salón Balcarce, Los Alerces 766 <br>
                 desde las 21 hs hasta que el sol nos encuentre!
            </p>
            <div class="clasico-gps">
                ¿Cómo llegar?
                <a href=""><img src="/img/disenos/gps.png" alt=""></a>
            </div>
        </div>

        <div class="clasico-buzon d-center">
            <div class="box-buzon d-center">
                <p><b>¿Querés hacernos un regalo?</b></p>
                <img src="/img/disenos/regalo2.png" alt="">
                <p>Te dejamos nuestro buzón</p>
            </div>
        </div>

        <div class="clasico-hashtag d-center ub">
            <p>
                ¡Las mejores fotos son las que sacamos de fiesta! <br>
                Subí tu foto y agregá el #Hashtag, así siempre vamos a tener los recuerdos en este link. <br>
            </p>
            <div class="hash-text">
                #Elle&Marco
            </div>
        </div>

        <div class="clasico-buzon d-center">
            <div class="box-buzon d-center">
                <p><b>¡Es muy importante para nosotros que estés ahí!</b></p>
                <img src="/img/disenos/wsp2.png" alt="">
                <p>Confirmá tu presencia</p>
            </div>
        </div>





        <%- include('../partials/foot.ejs') %>
    </body>
</html>