<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/document.ejs') %>
    <body>
        <div class="festivo-header" style="background-image: url('/img/disenos/bf3.png');">
            <h6>NOS CASAMOS</h6>
            <p>-Elle & Marco-</p>            
        </div>
        <div class="festivo-reflejo">
            
        </div>

        <div class="festivo-frase">

        </div>
        <%- include('../partials/foot.ejs') %>
    </body>
</html>