<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/document.ejs') %>
    <body>
        <div class="festivo-header" style="background-image: url('/img/disenos/bf3.png');">
            <h6>NOS CASAMOS</h6>
            <p>-Elle & Marco-</p>            
        </div>

        <div class="festivo-reflejo d-center">
        </div>

        <div class="countdown-gral d-center">
            <div class="countdown-card" id="countdown1">
                <div class="countdown-group d-center">
                    <div class="count-circle">
                        <div class="countdown-circle">
                            <div class="countdown-number" id="months1">0</div>
                        </div>
                    </div>
                    <p>Meses</p>
                </div>
                <div class="countdown-group d-center">
                    <div class="count-circle">
                        <div class="countdown-circle">
                            <div class="countdown-number" id="days1">0</div>
                        </div>
                    </div>
                    <p>Días</p>
                </div>
                <div class="countdown-group d-center">
                    <div class="count-circle">
                        <div class="countdown-circle">
                            <div class="countdown-number" id="hours1">0</div>
                        </div>
                    </div>
                    <p>Horas</p>
                </div>
                <div class="countdown-group d-center">
                    <div class="count-circle">
                        <div class="countdown-circle">
                            <div class="countdown-number" id="minutes1">0</div>
                        </div>
                    </div>
                    <p>Minutos</p>
                </div>
            </div>
        </div>

        <div class="festivo-frase d-center">

        </div>

        <%- include('../partials/foot.ejs') %>
    </body>
</html>