.about-us{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.box-us{
    background-image: url("/img/fondo-us.png");
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    position: relative;
    flex-direction: column;
}

.box-us img{
    width: 80%;
    margin: 20px;
}

.box-us h6 {
    width: 80%;
    margin: 0;
}

.box-us a img {
    width: 140px;
    margin: 40px;
}


@media (min-width: 768px) and (orientation: landscape) {    
    .box-us img{
        width: 40%;
    }
    .box-us h6 {
        width: 60%;
    }
}


