.about-us{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.box-us{
    background-image: url("/img/fondo-us.png");
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    position: relative;
    flex-direction: column;
}

.box-us img{
    height: 250px;
}

.box-us h6 {
        float: center; /* Alinea el texto a la derecha de la imagen */
        shape-outside: url('/public/img/mockupcel.png'); /* Establece la forma del contorno de acuerdo a la imagen */
        width: 85%; /* Ancho del área del texto */
        padding: 20px; /* Espaciado interno del área del texto */
        box-sizing: border-box; /* Incluye el padding en el ancho total */
}

