.about-us{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.box-us{
    background-image: url("/img/fondo-us.png");
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    position: relative;
    flex-direction: column;
}

.box-us img{
    height: 250px;
    margin-top: 19px;
}

.box-us h6 {
    width: 80%;
}


