.title-diseno {
    width: 90%;
    flex-direction: column;
}

.title-diseno .icons {
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 6px;
}

.disenos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 19px;
}

.disenos a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disenos a img {
    width: 150px;
}

.disenos a p {
    position: absolute;
    font-family: grand hotel;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1025px) {

    .title-diseno .icons{
        width: 100%;
    }

    .title-diseno {
        width: 70%;
    }

    .title-diseno h6 {
        width: 50%;
    }
}