.navbar-h {
    margin: 10px;
    position: fixed;
}

.menu-h {
    background-color: #5CE1E6;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    left: 70px;
    top: 10px;
    padding: 5px;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.menu-h.active-menu {
    opacity: 1;
    visibility: visible;
}

.menu-h ul {
    list-style-type: none;
    padding: 0;
}

.menu-h li {
    margin: 15px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.nav-dsktp {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(238, 238, 238);
    padding: 0px 40px 0px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-dsktp ul {
    display: flex;
    flex-direction: row;
}

.nav-dsktp li a{
    margin-left: 20px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(102, 102, 102);
}



/*FOOTER*/

footer{
    flex-direction: column;
}

.box-footer{
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.sec1 img {
    height: 90px;
}

.sec2 ul {
    padding: 0;
}


.sec2 li a{
    margin: 3px;
    font-size: 14px;
    font-weight: bold;
    color: rgb(102, 102, 102);}

.redes-f img {
    height: 35px;
    margin: 7px;
}



@media screen and (min-width: 1025px) {
    .nav-phone{
        display: none;
    }
    .nav-dsktp{
        display: flex;
    }

    footer{
        flex-direction: row;
    }
    .box-footer{
        width: 65%;
    }
    .sec1 img {
        height: 120px;
    }
    .redes-f {
        width: 35%;
    }
}