<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/document.ejs') %>
<body>
    <div class="about-us">
        <%- include('./partials/navbar.ejs') %>
        <div class="box-us d-center">
            <h5>Sobre FIESTA</h5>
            <img src="/img/cv.png" alt="">
            <h6>Hola! Mi nombre es Juliana. <br>
                Soy mamá, docente de tecnologías y recientemente programadora. <br>
                Además me encanta diseñar y me he dedicado durante algún tiempo a hacer trabajos manuales pequeños. <br>
                FIESTA❤️ es un proyecto que tengo en mi cabeza hace algunos años, pero en los últimos meses culminé un curso avanzado de programación que me ha dejado los conocimientos necesarios para poder llevarlo acabo <br> ¡Y aquí esta! <br>
                No solo eso, también tengo el objetivo de hacer felices a muchas personas a través de mis diseños, acompañarlos en momentos especiales y brindarles un servicio que además de lindo, es amigable con el medioambiente! <br>
                Todo este proyecto lo llevo adelante sola, asi que, si me elijes, espero cumplir mi objetivo de acompañarte! <br><br>
                Aquí tienes mi portafolio..
             </h6>
             <a href="https://juliidiaz.github.io/portfolio/"><img src="/img/portafolio.png" alt=""></a>

        </div>
        <%- include('./partials/footer.ejs') %>
    </div>

</body>
</html>


