<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/document.ejs') %>
<body>
    
    <%- include('./partials/navbar.ejs') %>
    <img src="/img/disenos/portada1.png" alt="" width="100%">
    
    <%- include('./partials/disenos.ejs') %>
    
    <div class="disenos">
        <a href="">
            <img src="/img/disenos/d1.png" alt="">
            <p>-Festivo-</p>
        </a>
        <a href="">
            <img src="/img/disenos/d1.png" alt="">
            <p>-Eucalipto-</p>
        </a>
        <a href="">
            <img src="/img/disenos/d1.png" alt="">
            <p>-Minimalista-</p>
        </a>
    </div>        

    <%- include('./partials/footer.ejs') %>
</body>
</html>