<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/document.ejs') %>
<body>        
    <%- include('./partials/navbar.ejs') %>

    <div class="box-group"></div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>