<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/document.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

    
    <div class="contactos">
        <h5>Contactos</h5>
        <h6>Contactate con nosotros:</h6>    
        <div class="box-cont d-center">
            <img src="/img/face.png" alt="">
            <img src="/img/ws.png" alt="">
            <img src="/img/mail.png" alt="">
            <img src="/img/in.png" alt="">
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>