<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/document.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>

<body>
    <div class="faq-container d-center ub">
        <h5>Preguntas frecuentes</h5>
        <h6>Ante cualquier duda que no pueda ser resuelta mediante las preguntas, estarán disponibles las vías de comunicación, tanto de las redes, como el e-mail y WhatsApp</h6>
        <div class="question">
            <div class="question-header">
                <span class="question-text">¿Pregunta 1?</span>
                <span class="toggle-btn">&#x232A</span>
            </div>
            <div class="answer">
                <p>Respuesta a la pregunta 1.</p>
            </div>
        </div>
        
        <div class="question">
            <div class="question-header">
                <span class="question-text">¿Pregunta 2?</span>
                <span class="toggle-btn">&#x232A</span>
            </div>
            <div class="answer">
                <p>Respuesta a la pregunta 2.</p>
            </div>
        </div>
        <h6 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">¿Aún tenés dudas?</h6>

        <a href="/">
            <button type="button">Enviá tus dudas</button>
        </a> 
    </div>
</body>
</html>


    <%- include('./partials/footer.ejs') %>
</body>
</html>