<div class="d-center">
    <div class="title-diseno">
        <h5>Diseños disponibles</h5>  
        <h6>Revisá los diseños que tenemos disponibles, elegí el que más te guste y envianos tu decisión, en poco tiempo tendrás tu tarjeta adaptada con la información personalizada para enviar a todos tus invitados.
        </h6>
        <div class="icons">
            <p>A tener en cuenta:</p>
            <ul>
                <li><img src="/img/i-ama.png" alt="">Se permite un máximo de 6 fotos por invitación en total.</li>
                <li><img src="/img/i-ama.png" alt="">Se pueden modificar las secciones, pudiendo cambiarlas de lugar o eliminar alguna.</li>
                <li><img src="/img/i-ama.png" alt="">Una vez realizado el pedido, se confecciona la invitación y una vez aprobada por el cliente se realiza el pago.</li>
            </ul>
        </div>
    </div>
</div>