<footer class="d-center">
    <div class="box-footer d-center">
        <div class="sec1 d-center">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="sec2 d-center ub">
            <ul>
                <li><a href="">Preguntas frecuentes</li></a>
                <li><a href="">Diseños</li></a>
                <li><a href="">Sobre nosotros</li></a>
                <li><a href="">Contacto</li></a>
            </ul>
        </div>
    </div>
    <div class="redes-f d-center">
        <a href=""><img src="/img/face.png" alt=""></a>
        <a href=""><img src="/img/in.png" alt=""></a>
        <a href=""><img src="/img/mail.png" alt=""></a>
        <a href=""><img src="/img/ws.png" alt=""></a>
    </div>
</footer>