<footer class="d-center">
    <div class="box-footer d-center">
        <div class="sec1 d-center">
            <img src="/img/logo.png" alt="" height="70px">
        </div>
        <div class="sec2 d-center ub">
            <ul>
                <li>Preguntas frecuentes</li>
                <li>Diseños</li>
                <li>Sobre nosotros</li>
                <li>Contacto</li>
            </ul>
        </div>
    </div>
    <div class="redes d-center">
        <img src="/img/face.png" alt="">
        <img src="/img/in.png" alt="">
        <img src="/img/mail.png" alt="">
        <img src="/img/ws.png" alt="">
    </div>
</footer>