<div class="nav-phone">
    <img class="navbar-h" src="/img/menu.png" height="50px">
    <div class="menu-h ub">
    <ul>
        <li>Home</li>
        <li>Casamiento</li>
        <li>Quinceañeras</li>
        <li>Bautismos</li>
        <li>Planners</li>
    </ul>
    </div>
</div>
<div class="nav-dsktp">
    <img src="/img/logo.png" alt="" height="100px">
    <ul class="ub">
        <li><a href="">Home</a></li>
        <li><a href="">Casamiento</a></li>
        <li><a href="">Quinceañeras</a></li>
        <li><a href="">Bautismos</a></li>
        <li><a href="">Planners</a></li>
    </ul>
</div>