<div class="nav-phone">
    <img class="navbar-h" src="/img/menu.png" height="50px">
    <div class="menu-h ub">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/boda">Casamiento</a></li>
        <li><a href="/cumples">Cumpleaños</a></li>
        <li><a href="/bautismo">Bautismos</a></li>
        <li><a href="">Planners</a></li>
    </ul>
    </div>
</div>
<div class="nav-dsktp d">
    <ul class="ub">
        <li><a href="/">Home</a></li>
        <li><a href="/boda">Casamiento</a></li>
        <li><a href="/cumples">Cumpleaños</a></li>
        <li><a href="/bautismo">Bautismos</a></li>
        <li><a href="">Planners</a></li>
    </ul>
</div>