<img class="navbar-h" src="/img/menu.png" height="50px">
<div class="menu-h ub">
    <ul>
        <li>Home</li>
        <li>Casamiento</li>
        <li>Quinceañeras</li>
        <li>Bautismos</li>
        <li>Planners</li>
    </ul>
</div>